{#
    templates/setori/404.html
#}
{% extends "setori/base.html" %}
{% from 'setori/snippet/forms.html' import search_form %}
{% set page_id = 'errorpage' %}

{% block head %}
  {{ super() }}
  <meta name="description" content="404 Not Found 曲・役者・キャラクターからイベント・リリースのセットリスト・トラックリストが見つかりませんか？名称の一部で検索するか次の一覧から探してみてください。">
  <meta property="og:description" content="404 Not Found 曲・役者・キャラクターからイベント・リリースのセットリスト・トラックリストが見つかりませんか？名称の一部で検索するか次の一覧から探してみてください。">
{% endblock %}

{% block header %}
  <div class="container">
    <h1 class="sr-only">404 Not Found</h1>
    <p class="lead text-center lead-header tk-ff-market-web">
      404 Not Found
    </p>
    <p class="lead text-center text-muted">
      <strong>曲</strong>
      ·
      <strong>役者</strong>
      ·
      <strong>キャラクター</strong>
      から
    </p>
    <p class="lead text-center text-muted">
      <strong>イベント</strong>
      ·
      <strong>リリース</strong>
      の
    </p>
    <p class="lead text-center text-muted">
      <strong>セットリスト</strong>
      ·
      <strong>トラックリスト</strong>
      が
      <br>
      見つかりませんか？
    </p>

    <div class="row">

      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
        <div class="card">

          <div class="card-content" id="bloodhound">
            {{- search_form('song') -}}
          </div>

        </div>
      </div>

    </div>

    <p class="lead text-center text-muted">
      名称の <strong>一部</strong> で検索するか
      <br>
      次の一覧から探してみてください
    </p>

    <div class="text-center">
      <ul class="nav nav-pills pills-center">
        <li><a href="{{ url_for('setori.songs') }}">曲</a></li>
        <li><a href="{{ url_for('setori.actors') }}">役者</a></li>
        <li><a href="{{ url_for('setori.characters') }}">キャラクター</a></li>
      </ul>
    </div>

    <p class="text-center">
      情報が登録されていないため、見つからない場合があります
      <br>
      情報の充実のため、よろしければ <a href="{{ url_for('setori.contact') }}">お問い合わせ</a> ください
    </p>
  </div>
{% endblock %}
