{#
    templates/setori/about.html
#}
{% extends "setori/base.html" %}
{% from 'setori/snippet/forms.html' import search_form %}
{% from 'setori/snippet/lists.html' import get_select_filter %}
{% set page_id = 'homepage' %}
{% set page_title = 'このサイトについて' %}

{% block head %}
  {{ super() }}
  <meta name="description" content="{{- content_title_abbr|safe }} SETORIは非公式サイトです。{{- content_title|safe -}}のセットリストが検索できます！さらにトラックリストも！セットリストとトラックリストの比較ができたり、上手に検索すれば共演も分かるかも...もちろん、一覧もあります。">
  <meta property="og:description" content="{{- content_title_abbr|safe }} SETORIは非公式サイトです。{{- content_title|safe -}}のセットリストが検索できます！さらにトラックリストも！セットリストとトラックリストの比較ができたり、上手に検索すれば共演も分かるかも...もちろん、一覧もあります。">
{% endblock %}

{% block header %}
  <div class="container">
    <h1 class="sr-only">About</h1>
    <p class="lead text-center lead-header tk-ff-market-web">
      About
    </p>

    <div class="row">

      <div class="col-md-6 col-md-offset-3">
        <div class="card">
          <div class="card-content clearfix text-center">
            <span class="card-title">非公式です</span>
          </div>
          <div class="card-action">
            {{- content_title_abbr|safe }} SETORIは個人が開発・運用する非公式のファンサイトです。株式会社バンダイナムコエンターテインメント（旧：バンダイナムコゲームス）をはじめとする関係各社様とは一切関係ありません。
          </div>
        </div>
      </div>

      <div class="col-md-6 col-md-offset-3">
        <div class="card">
          <div class="card-content clearfix text-center">
            <span class="card-title">セットリストが検索できます！</span>
          </div>
          <div class="card-action">
            <a href="http://idolmaster.jp/" title="THE IDOLM@STER OFFICIAL WEB">アイドルマスター</a>
            のライブやイベントで披露されたセットリストを曲、役者、キャラクターから検索できます！
          </div>
        </div>
      </div>

      <div class="col-md-6 col-md-offset-3">
        <div class="card">
          <div class="card-content clearfix text-center">
            <span class="card-title">さらに、トラックリストも！</span>
          </div>
          <div class="card-action">
            ついでに、これまでにリリースされたCDやBlu-rayのトラックリストも検索できます！
          </div>
        </div>
      </div>

      <div class="col-md-6 col-md-offset-3">
        <div class="card">
          <div class="card-content clearfix text-center">
            <span class="card-title">セットリストとトラックリストを比較すると...</span>
          </div>
          <div class="card-action">
            CDでリリースされているのにライブで披露されていない曲や、ライブだけで披露された曲が分かります！
          </div>
        </div>
      </div>

      <div class="col-md-6 col-md-offset-3">
        <div class="card">
          <div class="card-content clearfix text-center">
            <span class="card-title">上手に検索すれば共演も分かるかも...</span>
          </div>
          <div class="card-image card-white">
            <img class="img-responsive" src="{{ url_for('static', filename='img/about1.png') }}" alt="Filter byで絞り込み">
          </div>
          <div class="card-action">
            検索できるのは曲だけではありません！それぞれのページには役者やキャラクターで絞り込むためのオプションがあります！！
          </div>
        </div>
      </div>

      <div class="col-md-6 col-md-offset-3">
        <div class="card">
          <div class="card-content clearfix text-center">
            <span class="card-title">もちろん、一覧も！</span>
          </div>
          <div class="card-image card-white">
            <img class="img-responsive" src="{{ url_for('static', filename='img/about2.png') }}" alt="期間で絞り込み">
          </div>
          <div class="card-action">
            イベントとリリースの一覧ページもあります！開催日や発売日の期間で絞り込むことができます！！
          </div>
        </div>
      </div>

      <div class="col-md-6 col-md-offset-3">
        <div class="card">
          <div class="card-content clearfix text-center">
            <span class="card-title">リアルタイムなコメント欄も...</span>
          </div>
          <div class="card-image card-white">
            <img class="img-responsive" src="{{ url_for('static', filename='img/about3.png') }}" alt="リアルタイムなコメント欄">
          </div>
          <div class="card-action clearfix">
            普通のコメント欄もありますが、<strong>"いま"</strong> サイトにいる人達と話すこともできます！
            <a href="https://www.spot.im/" title="Spot.IM 2.0 | Your community is waiting to happen">Spot.IM</a>
            を使っています！！Spot.IMのスマホアプリは
            <a href="https://geo.itunes.apple.com/jp/app/spot.im-conversation-network/id665820350?mt=8">App Store</a>
             ·
             <a href="https://play.google.com/store/apps/details?id=com.spotim.android">Google Play</a>
             へどうぞ！
          </div>
        </div>
      </div>

      <div class="col-md-6 col-md-offset-3">
        <div class="card card-caution">
          <div class="card-content clearfix text-center">
            <span class="card-title">でも...まだ情報が少ないんです</span>
          </div>
          <div class="card-action clearfix">
            たくさんの情報を表記の揺れに注意しながら、一部を人力で追加しています！情報源をお持ちの方で協力しても良いという方がいらっしゃったら、お問い合わせください。もちろん、情報追加のリクエストもお待ちしております！
          </div>
        </div>
      </div>

      <div class="col-md-6 col-md-offset-3">
        <div class="card">
          <div class="card-content clearfix text-center">
            <span class="card-title">開発・運用は？</span>
          </div>
          <div class="card-action clearfix">
            日々、いろいろな技術を試しながら
            <a href="https://twitter.com/hironow">@hironow</a>
            が行っております！個人による運用のため、予告なくサイトの変更や改修・閉鎖を行う場合がございます。ご了承ください。開発・運用に関するお問い合わせもお受けいたします！
          </div>
        </div>
      </div>

      <div class="col-md-6 col-md-offset-3">
        <div class="card">
          <div class="card-content clearfix text-center">
            <span class="card-title">Amazon.co.jpアソシエイトについて</span>
          </div>
          <div class="card-action clearfix">
            {{- content_title_abbr|safe }} SETORIは、Amazon.co.jpを宣伝しリンクすることによってサイトが紹介料を獲得できる手段を提供することを目的に設定されたアフィリエイト宣伝プログラムである、Amazonアソシエイト・プログラムの参加者です。
          </div>
        </div>
      </div>

      <div class="col-md-6 col-md-offset-3">
        <div class="card">
          <div class="card-content clearfix text-center">
            <span class="card-title">Special Thanks !</span>
          </div>

          <div class="card-action clearfix">
            <div class="card-label">ふがしP</div>
            <div class="card-label">TenkuruP</div>
          </div>
        </div>
      </div>


    </div>

  </div>
{% endblock %}
