{#
    templates/setori/actors.html
#}
{% extends "setori/base.html" %}
{% from 'setori/snippet/forms.html' import search_form %}
{% from 'setori/snippet/lists.html' import get_actor_filtered_buttons %}
{% set active_page = 'actors' %}
{% set page_id = 'list' %}
{% set page_title = '役者' %}

{% block head %}
  {{ super() }}
  <meta name="description" content="{{- content_title_abbr|safe }} SETORIに登録されている{{- content_title|safe -}}の{{ page_title }}{{ actors|length }}件の一覧です。">
  <meta property="og:description" content="{{- content_title_abbr|safe }} SETORIに登録されている{{- content_title|safe -}}の{{ page_title }}{{ actors|length }}件の一覧です。">
{% endblock %}

{% block header %}
  <div class="container hidden-sm hidden-md hidden-lg">
    <h1>{{- page_title|safe -}}</h1>
  </div>
{% endblock %}

{% block content %}
  <div class="container" id="stringinlineblock">

    <div class="row">

      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
        <div class="card">

          <div class="card-content" id="bloodhound">
            {{- search_form('actor') -}}
          </div>

        </div>
      </div>

    </div>

    <div class="input-group search-form">
      <span class="input-group-addon">Filter by</span>
      <input type="text" id="search-filter" class="form-control" placeholder="名称を入力">
    </div>

    <h1 class="counter"></h1>

    <div class="btns">
    {{ get_actor_filtered_buttons(actors) }}
    </div>

  </div>
{% endblock %}
