{#
  templates/setori/base.html
#}
{% extends "shared/master.html" %}
{% set navigation_bar = [
  ('setori.songs', 'songs', '曲'),
  ('setori.actors', 'actors', '役者'),
  ('setori.characters', 'characters', 'キャラクター'),
  ('setori.events', 'events', 'イベント'),
  ('setori.releases', 'releases', 'リリース')
] %}
{% set active_page = active_page|default('') %}
{% set page_id = page_id|default('generic') %}

{% block head %}
  <link rel="apple-touch-icon" sizes="57x57" href="{{ url_for('static', filename='favicons/apple-touch-icon-57x57.png') }}">
  <link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static', filename='favicons/apple-touch-icon-60x60.png') }}">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='favicons/apple-touch-icon-72x72.png') }}">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='favicons/apple-touch-icon-76x76.png') }}">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='favicons/apple-touch-icon-114x114.png') }}">
  <link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename='favicons/apple-touch-icon-120x120.png') }}">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename='favicons/apple-touch-icon-144x144.png') }}">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename='favicons/apple-touch-icon-152x152.png') }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicons/apple-touch-icon-180x180.png') }}">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicons/favicon-32x32.png') }}" sizes="32x32">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicons/android-chrome-192x192.png') }}" sizes="192x192">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicons/favicon-96x96.png') }}" sizes="96x96">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicons/favicon-16x16.png') }}" sizes="16x16">
  <link rel="manifest" href="{{ url_for('static', filename='favicons/manifest.json') }}">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-TileImage" content="{{ url_for('static', filename='favicons/mstile-144x144.png') }}">
  <meta name="theme-color" content="#ffffff">
  {%- if page_title -%}
  <meta name="title" content="{{- content_title_abbr|safe }} SETORI | {{ page_title }}">
  <meta property="og:type" content="article">
  <meta property="og:title" content="{{- content_title_abbr|safe }} SETORI | {{ page_title }}">
  {%- else -%}
  <meta name="title" content="{{- content_title_abbr|safe }} SETORI - {{- content_title|safe -}}のセットリスト検索サイト">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{- content_title_abbr|safe }} SETORI - {{- content_title|safe -}}のセットリスト検索サイト">
  {%- endif -%}
  <meta property="og:url" content="{{ request.host_url + request.path[1:]|urlencode }}">
  <meta property="og:site_name" content="{{ content_title_abbr|safe }} SETORI">
  <meta property="og:locale" content="ja_JP">
  <meta content="summary" name="twitter:card">
  <meta content="@imas_setori" name="twitter:site">
{% endblock %}

{% block headtail %}
  <script src="//use.typekit.net/rmo5ccg.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-64549474-2', 'auto');
    ga('send', 'pageview');

  </script>
{% endblock %}

{% block title %}
  {%- if page_title -%}
    {{- page_title|safe }} - {{ content_title_abbr|safe }} SETORI
  {%- else -%}
    {{- content_title_abbr|safe }} SETORI - {{- content_title|safe -}}のセットリスト検索サイト
  {%- endif -%}
{% endblock %}

{% block brand %}
  <a class="navbar-brand tk-hwt-artz" href="{{ url_for('setori.index') }}">{{- content_title_abbr|safe }} SETORI</a>
{% endblock %}

{% block nav %}
  <ul class="nav navbar-nav">
  {% for href, id, caption in navigation_bar -%}
    <li{% if id == active_page %} class="active"{% endif %}><a href="{{ url_for(href|safe) }}">{{ caption|safe }}</a></li>
  {% endfor -%}
  </ul>
{% endblock %}

{% block banner %}
  <div class="container">
    <h1 class="sr-only">Banner</h1>
    <p class="lead text-center">アルファ版として公開中<br>順次、情報を追加していきます</p>
  </div>
{% endblock %}

{% block footer %}
  <div class="container">
    <ul class="footer-links text-muted">
      <li><a href="{{ url_for('setori.index') }}">ホーム</a></li>
      <li>·</li>
      <li><a href="{{ url_for('setori.about') }}">このサイトについて</a></li>
      <li>·</li>
      <li><a href="{{ url_for('setori.contact') }}">お問い合わせ</a></li>
    </ul>
    <p class="text-muted">&copy; 2015 setori.jp <a href="https://twitter.com/imas_setori">@imas_setori</a></p>
  </div>
  <div id="spot-im-root"></div>
{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/typeahead.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-select.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/ion.rangeSlider.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/ion.rangeSlider.skinFlat.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/common.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/colors.css') }}">
{% endblock %}

{% block script %}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/locales.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.mixitup.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/typeahead.bundle.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-select.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/ion.rangeSlider.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.japanese-input-change.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/common.js') }}"></script>
  {% if page_id not in ['homepage', 'list', 'errorpage'] %}
  <script type="text/javascript">
      /* * * CONFIGURATION VARIABLES * * */
      var disqus_shortname = 'imas-setori';

      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
  </script>
  {% endif %}
  <script type="text/javascript">!function(t,o,p){function e(){var t=o.createElement("script");t.type="text/javascript",t.async=!0,t.src=("https:"==o.location.protocol?"https":"http")+":"+p,o.body.appendChild(t)}t.spotId="f2aeefdf4e95c404675620e1c31c8713",t.spotName="",t.allowDesktop=!0,t.allowMobile=!1,t.containerId="spot-im-root",e()}(window.SPOTIM={},document,"//www.spot.im/embed/scripts/launcher.js");</script>
  <script>(function(t,a,y,o,r,i){r=a.createElement(y),i=a.getElementsByTagName(y)[0];r.type='text/javascript';r.async=1;r.src='//tayori.com/form/b67117aeba020deb37e7722bec3b81be3aed04ad/tag.js';r.id='tayori-tag';i.parentNode.insertBefore(r,i)})(window,document,'script');</script>
{% endblock %}

