{#
    templates/setori/character.html
#}
{% extends "setori/base.html" %}
{% from 'setori/snippet/lists.html' import get_select_filter %}
{% from 'setori/snippet/lists.html' import get_index_classes %}
{% from 'setori/snippet/lists.html' import get_actor_buttons %}
{% from 'setori/snippet/lists.html' import get_character_buttons %}
{% from 'setori/snippet/lists.html' import get_setlist_date_column %}
{% from 'setori/snippet/lists.html' import get_tracklist_date_column %}
{% set active_page = 'characters' %}
{% set page_title = character.name %}
{% set page_id = 'colorful' %}
{% set header_class = character.name_alphabet.replace(' ', '-') %}

{% block head %}
  {{ super() }}
  <meta name="description" content="{{- content_title_abbr|safe }} SETORIに登録されているキャラクター、{{ page_title }}から{{ setlists|length }}件のセットリストと{{ tracklists|length }}件のトラックリストが見つかりました。">
  <meta property="og:description" content="{{- content_title_abbr|safe }} SETORIに登録されているキャラクター、{{ page_title }}から{{ setlists|length }}件のセットリストと{{ tracklists|length }}件のトラックリストが見つかりました。">
{% endblock %}

{% block header %}
  <div class="container hidden-sm hidden-md hidden-lg">
    <h1>キャラクター</h1>
  </div>
{% endblock %}

{% if character.alias %}
  {% set names = [character.alias, character.name, character.name_alphabet, character.name_kana]|drop_duplicates %}
{% else %}
  {% set names = [character.name, character.name_alphabet, character.name_kana]|drop_duplicates %}
{% endif %}
{% block content %}
  <div class="container" id="selector">

    <p class="lead text-muted">
    {% for name in names[1:] %}
      {% if not loop.first %} · {% endif %}
      {{ name }}
    {% endfor %}
    </p>

    <h1>
    {{ names[0] }}
    {% if character.actors %}
    <small>CV:
    {% for actor in character.actors -%}
      {% if not loop.first %} · {% endif %}<a href="{{ url_for('setori.actor', name=actor.name) }}">{{ actor.name }}</a>
    {%- endfor %}
    </small>
    {% endif %}
    </h1>

    {% if character.actors %}
    <div>Filter by {{ get_select_filter(songs, actors, characters) }}</div>


    <h2>セットリスト</h2>

    <div class="mf-table">
      <div class="row margin-0 list-header hidden-xs hidden-sm">
        <div class="col-md-5"><div class="header">イベント</div></div>
        <div class="col-md-7"><div class="header">役者</div></div>
      </div>

      {% for setlist in setlists %}
      <div class="row margin-0 mix s-{{- setlist.song.index }} {{ get_index_classes(setlist.actors.values()|flatten_list, prefix='a') }} {{ get_index_classes(setlist.actors.values()|flatten_list|map(attribute='characters')|flatten_list, prefix='c') }}">

        <div class="col-md-5"><div class="cell header">
            {{ get_setlist_date_column(setlist) }}
        </div></div>

        <div class="col-md-7"><div class="cell btns">
        {% for group, actors in setlist.actors.items() %}
          {% if group %}
          <strong>{{ group }}</strong>
          {% endif %}

          {{ get_actor_buttons(actors) }}

        {% endfor %}
        </div></div>
      </div>
      {% else %}
      <div class="row margin-0 list-sub-header text-center">
        <div class="col-md-12"><div class="cell">見つかりませんでした</div></div>
      </div>
      {% endfor %}
    </div>


    <h2>トラックリスト</h2>

    <div class="mf-table">
      <div class="row margin-0 list-header hidden-xs hidden-sm">
        <div class="col-md-5"><div class="header">リリース</div></div>
        <div class="col-md-7"><div class="header">キャラクター</div></div>
      </div>

      {% for tracklist in tracklists %}
      <div class="row margin-0 mix s-{{- tracklist.song.index }} {{ get_index_classes(tracklist.characters.values()|flatten_list, prefix='c') }} {{ get_index_classes(tracklist.characters.values()|flatten_list|map(attribute='actors')|flatten_list, prefix='a') }}">

        <div class="col-md-5"><div class="cell header">
            {{ get_tracklist_date_column(tracklist) }}
        </div></div>

        <div class="col-md-7"><div class="cell btns">
        {% for group, characters in tracklist.characters.items() %}
          {% if group %}
          <strong>{{ group }}</strong>
          {% endif %}

          {{ get_character_buttons(characters) }}

        {% endfor %}
        </div></div>

      </div>
      {% else %}
      <div class="row margin-0 list-sub-header text-center">
        <div class="col-md-12"><div class="cell">見つかりませんでした</div></div>
      </div>
      {% endfor %}
    </div>

    {% endif %}


    <h2 class="sr-only">コメント</h2>
    <div id="disqus_thread"></div>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

  </div>
{% endblock %}
