{#
    templates/setori/colors.css
#}
{% for model in models %}
{% set class = model.name_alphabet.replace(' ', '-') %}
{% set font_color = model.font_color %}
{% set r, g, b = model.color %}
.btn.{{ class }},
.header.{{ class }} {
    color: {{ font_color }};
    background-color: rgba({{ r }}, {{ g }}, {{ b }}, 0.7);
    border-color: rgba({{ r }}, {{ g }}, {{ b }}, 0.7);
}

.btn.{{ class }}.focus,
.btn.{{ class }}:focus,
.btn.{{ class }}:hover {
    background-color: rgba({{ r }}, {{ g }}, {{ b }}, 1.0);
    border-color: rgba({{ r }}, {{ g }}, {{ b }}, 1.0);
}

.btn.{{ class }}.active {
    color: {{ font_color }};
    background-color: rgba({{ r }}, {{ g }}, {{ b }}, 1.0);
    border-color: rgba({{ r }}, {{ g }}, {{ b }}, 1.0);
}

.btn.{{ class }}.active.focus,
.btn.{{ class }}.active:focus,
.btn.{{ class }}.active:hover {
    background-color: rgba({{ r }}, {{ g }}, {{ b }}, 1.0);
    border-color: rgba({{ r }}, {{ g }}, {{ b }}, 1.0);
}
{% endfor %}
