{#
    templates/setori/contact.html
#}
{% extends "setori/base.html" %}
{% from 'setori/snippet/forms.html' import search_form %}
{% set page_id = 'homepage' %}
{% set page_title = 'お問い合わせ' %}

{% block head %}
  {{ super() }}
  <meta name="description" content="{{- content_title_abbr|safe }} SETORIへのお問い合わせはTwitterもしくは専用フォームからお願いします。">
  <meta property="og:description" content="{{- content_title_abbr|safe }} SETORIへのお問い合わせはTwitterもしくは専用フォームからお願いします。">
{% endblock %}

{% block header %}
  <div class="container">
    <h1 class="sr-only">Contact</h1>
    <p class="lead text-center lead-header tk-ff-market-web">
      Contact
    </p>

    <div class="row">

      <div class="col-md-6 col-md-offset-3">
        <div class="card">
          <div class="card-content clearfix text-center">
            <span class="card-title">Twitterもしくは専用フォームへどうぞ</span>
          </div>
          <div class="card-action clearfix">
            Twitterアカウント<a href="https://twitter.com/imas_setori">@imas_setori</a>にお願いします！専用フォームへは
            <span class="fa-stack">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-paper-plane-o fa-stack-1x fa-inverse"></i>
            </span>
            からお願いします！こちらは
            <a href="https://tayori.com/" title="Tayori -無料のカスタマーサポートツール">Tayori</a>
            を使っています！！
          </div>
        </div>
      </div>

    </div>

    <h2 class="text-center tk-ff-market-web sr-only">Q&A</h2>

    <div class="row">

    </div>
  </div>
{% endblock %}
