{#
    templates/setori/event.html
#}
{% extends "setori/base.html" %}
{% from 'setori/snippet/lists.html' import get_index_classes %}
{% from 'setori/snippet/lists.html' import get_actor_buttons %}
{% from 'setori/snippet/lists.html' import get_select_filter %}
{% from 'setori/snippet/lists.html' import get_setlist_order_column %}
{% set active_page = 'events' %}
{% set page_title = event.name %}

{% block head %}
  {{ super() }}
  <meta name="description" content="{{- content_title|safe -}}のイベント、{{ page_title }}は{{ event.date|datetime }}に{{ event.venue }}で開催。">
  <meta property="og:description" content="{{- content_title|safe -}}のイベント、{{ page_title }}は{{ event.date|datetime }}に{{ event.venue }}で開催。">
  <meta property="og:image" content="{% set img_link = event.parts|map(attribute='amazon_large_image_link')|drop_duplicates %}{% if img_link %}{{ img_link[0] }}{% endif %}">
{% endblock %}

{% block header %}
  <div class="container hidden-sm hidden-md hidden-lg">
    <h1>イベント</h1>
  </div>
{% endblock %}

{% block content %}
  <div class="container" id="selector">
    <p class="lead text-muted">{{ event.date|datetime }} 開催 @{{ event.venue }}</p>
    <h1 class="{{ event.name_alphabet.replace(' ', '-') }}">{{ event.name }}
      {% if event.name_kana %}
      <small class="sr-only">{{ event.name_kana }}</small>
      {% endif %}
    </h1>

    <div class="row">
    {% for amz_link, img_link in zip(event.parts|map(attribute='amazon_link')|drop_duplicates, event.parts|map(attribute='amazon_large_image_link')|drop_duplicates) %}
    {% if amz_link and img_link %}
      <div class="col-md-6">
        <div class="card">
          <div class="card-image">
          <a href="{{ amz_link|safe }}"><img class="img-responsive" src="{{ img_link|safe }}" alt="{{ event.name }}"></a>
          </div>
        </div>
      </div>
    {% endif %}
    {% endfor %}
    </div>


    <div>Filter by {{ get_select_filter(songs, actors, characters) }}</div>


    <h2>出演</h2>

    <div class="btns">
    {{ get_actor_buttons(event.actors) }}
    </div>


    <h2>セットリスト</h2>

    <div class="mf-table">
      <div class="row margin-0 list-header hidden-xs hidden-sm hidden-md hidden-lg">
        <div class="col-md-5"><div class="header">リスト</div></div>
        <div class="col-md-7"><div class="header">役者</div></div>
      </div>

    {% for part in event.parts %}
      {% if part.part_name %}
      <div class="row margin-0 list-sub-header">
        <div class="col-md-12"><div class="header">{{ part.part_name }}</div></div>
      </div>
      {% endif %}

      {% for setlist in part.setlists %}
      <div class="row margin-0 mix s-{{- setlist.song.index }} {{ get_index_classes(setlist.actors.values()|flatten_list, prefix='a') }} {{ get_index_classes(setlist.actors.values()|flatten_list|map(attribute='characters')|flatten_list, prefix='c') }}">
        <div class="col-md-5"><div class="cell header">
          {{ get_setlist_order_column(setlist) }}
        </div></div>

        <div class="col-md-7"><div class="cell btns">
        {% for group, actors in setlist.actors.items() %}
          {% if group %}
          <strong>{{ group }}</strong>
          {% endif %}

          {{ get_actor_buttons(actors) }}

        {% endfor %}
        </div></div>

      </div>
      {% else %}
      <div class="row margin-0 list-sub-header text-center">
        <div class="col-md-12"><div class="cell">見つかりませんでした</div></div>
      </div>
      {% endfor %}
    {% endfor %}

    </div>


    <h2>リンク</h2>

    <ul class="list-unstyled">
    {% for source in event.sources %}
      <li><a href="{{ source.url }}" title="{{ source.url_title }}">{{ source.url_title }}</a></li>
    {% else %}
      <li>見つかりませんでした</li>
    {% endfor %}
    </ul>


    <h2 class="sr-only">コメント</h2>
    <div id="disqus_thread"></div>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

  </div>
{% endblock %}
