{#
  templates/setori/index.html
#}
{% extends "setori/base.html" %}
{% from 'setori/snippet/forms.html' import search_form %}
{% set page_id = 'homepage' %}

{% block head %}
  {{ super() }}
  <meta name="description" content="{{- content_title_abbr|safe }} SETORIは、{{- content_title|safe -}}のライブやイベントで披露されたセットリストを曲、役者、キャラクターから検索できるサイトです。また、これまでにリリースされたCDやBlu-rayのトラックリストも検索できます。">
  <meta property="og:description" content="{{- content_title_abbr|safe }} SETORIは、{{- content_title|safe -}}のライブやイベントで披露されたセットリストを曲、役者、キャラクターから検索できるサイトです。また、これまでにリリースされたCDやBlu-rayのトラックリストも検索できます。">
{% endblock %}

{% block header %}
  <div class="container">
    <h1 class="sr-only">{{- content_title_abbr|safe }} SETORI</h1>
    <p class="lead text-center lead-header tk-ff-market-web">
      {{- content_title|safe -}}
    </p>
    <p class="lead text-center">
      <strong>{{- song_length|safe }} 曲</strong>
      ·
      <strong>{{- actor_length|safe }} 役者</strong>
      ·
      <strong>{{- character_length|safe }} キャラクター</strong>
      から
    </p>
    <p class="lead text-center">
      <strong>{{- event_length|safe }} イベント</strong>
      ·
      <strong>{{- release_length|safe }} リリース</strong>
      の
    </p>
    <p class="lead text-center">
      <strong>セットリスト</strong>
      ·
      <strong>トラックリスト</strong>
      を検索
    </p>

    <div class="row" id="bloodhound">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
        {% if o and q %}
          {{- search_form(o, q, size='lg') -}}
        {% else %}
          {{- search_form(size='lg') -}}
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="container">
    <h1 class="sr-only">最近のイベント · リリース</h1>

    <div class="row">

      {% for event in events %}
      <div class="col-md-4">
        <div class="card">

          {% for amz_link, img_link in zip(event.parts|map(attribute='amazon_link')|drop_duplicates, event.parts|map(attribute='amazon_large_image_link')|drop_duplicates) %}
          {% if amz_link and img_link %}
          <div class="card-image">
            <a href="{{ url_for('setori.event', name=event.name) }}"><img class="img-responsive" src="{{ img_link|safe }}" alt="{{ event.name|safe }}"></a>
          </div>
          {% endif %}
          {% endfor %}

          <a href="{{ url_for('setori.event', name=event.name) }}">
          <div class="card-content clearfix">
            <span class="card-title">{{ event.name|safe }}</span>
          </div>
          </a>

        </div>
      </div>
      {% endfor %}
      <div class="col-md-12 text-center">
        <a href="{{ url_for('setori.events') }}" role="button" class="btn btn-lg btn-link">more...</a>
      </div>

    </div>

    <div class="row">

      {% for release in releases %}
      <div class="col-md-4">
        <div class="card">

          {% for amz_link, img_link in zip(release.discs|map(attribute='amazon_link')|drop_duplicates, release.discs|map(attribute='amazon_large_image_link')|drop_duplicates) %}
          {% if amz_link and img_link %}
          <div class="card-image">
            <a href="{{ url_for('setori.release', name=release.name) }}"><img class="img-responsive" src="{{ img_link|safe }}" alt="{{ release.name|safe }}"></a>
          </div>
          {% endif %}
          {% endfor %}

          <a href="{{ url_for('setori.release', name=release.name) }}">
          <div class="card-content clearfix">
            <span class="card-title">{{ release.name|safe }}</span>
          </div>
          </a>

        </div>
      </div>
      {% endfor %}
      <div class="col-md-12 text-center">
        <a href="{{ url_for('setori.releases') }}" role="button" class="btn btn-lg btn-link">more...</a>
      </div>

    </div>
  </div>
{% endblock %}
