{#
    templates/setori/releases.html
#}
{% extends "setori/base.html" %}
{% from 'setori/snippet/forms.html' import search_form %}
{% from 'setori/snippet/lists.html' import get_character_buttons %}
{% set active_page = 'releases' %}
{% set page_id = 'list' %}
{% set page_title = 'リリース' %}

{% block head %}
  {{ super() }}
  <meta name="description" content="{{- content_title_abbr|safe }} SETORIに登録されている{{- content_title|safe -}}の{{ page_title }}{{ releases|length }}件の一覧です。">
  <meta property="og:description" content="{{- content_title_abbr|safe }} SETORIに登録されている{{- content_title|safe -}}の{{ page_title }}{{ releases|length }}件の一覧です。">
{% endblock %}

{% block header %}
  <div class="container hidden-sm hidden-md hidden-lg">
    <h1>{{ page_title }}</h1>
  </div>
{% endblock %}

{% block content %}
  <div class="container" id="datestring">

    <div class="row">

      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
        <div class="card">

          <div class="card-content" id="bloodhound">
            {{- search_form() -}}
          </div>

        </div>
      </div>

    </div>

    <div class="text-center">
      <div class="btn-group btn-group-xs" role="group">
        <button type="button" class="btn btn-default filter" data-filter="all">すべて</button>
        <button type="button" class="btn btn-default filter-future">発売予定</button>
      </div>
    </div>

    <div class="range-slider">
      <input type="text" class="date-slider" value="">
    </div>

    <div class="input-group search-form">
      <span class="input-group-addon">Filter by</span>
      <input type="text" id="search-filter" class="form-control" placeholder="名称を入力">
    </div>

    <h1 class="counter">件</h1>

    <div class="mf-table">
      <div class="row margin-0 list-header hidden-xs hidden-sm">
        <div class="col-md-5"><div class="header">リリース</div></div>
        <div class="col-md-7"><div class="header">キャラクター</div></div>
      </div>

      {% for release in releases %}

      <div class="row margin-0 mix" data-date="{{ release.date|datetime(format='%Y%m%d') }}">
        <div class="col-md-5"><div class="cell header">
          <strong>{{ release.date|datetime }}</strong>

          <div class="media filtered">
          {% if release.discs[0].amazon_medium_image_link %}
            <div class="media-left">
              <a href="{{ url_for('setori.release', name=release.name) }}"><img class="media-object" src="{{ release.discs[0].amazon_medium_image_link }}" alt="{{ release.name }}"></a>
            </div>
          {% endif %}
            <div class="media-body">
            <h3 class="media-heading"><a href="{{ url_for('setori.release', name=release.name) }}">{{ release.name }}</a></h3>
            </div>
          </div>
        </div></div>

        <div class="col-md-7"><div class="cell btns">
        {{ get_character_buttons(release.characters) }}
        </div></div>

      </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
