{#
    templates/setori/release.html
#}
{% extends "setori/base.html" %}
{% from 'setori/snippet/lists.html' import get_index_classes %}
{% from 'setori/snippet/lists.html' import get_character_buttons %}
{% from 'setori/snippet/lists.html' import get_select_filter %}
{% from 'setori/snippet/lists.html' import get_tracklist_order_column %}
{% set active_page = 'releases' %}
{% set page_title = release.name %}

{% block head %}
  {{ super() }}
  <meta name="description" content="{{- content_title|safe -}}のリリース、{{ page_title }}は{{ release.date|datetime }}にリリース。">
  <meta property="og:description" content="{{- content_title|safe -}}のリリース、{{ page_title }}は{{ release.date|datetime }}にリリース。">
  <meta property="og:image" content="{% set img_link = release.discs|map(attribute='amazon_large_image_link')|drop_duplicates %}{% if img_link %}{{ img_link[0] }}{% endif %}">
{% endblock %}

{% block header %}
  <div class="container hidden-sm hidden-md hidden-lg">
    <h1>リリース</h1>
  </div>
{% endblock %}

{% block content %}
  <div class="container" id="selector">
    <p class="lead text-muted">{{ release.date|datetime }} リリース</p>
    <h1 class="{{ release.name_alphabet.replace(' ', '-') }}">{{ release.name }}
      {% if release.name_kana %}
      <small class="sr-only">{{ release.name_kana }}</small>
      {% endif %}
    </h1>

    <div class="row">
    {% for amz_link, img_link in zip(release.discs|map(attribute='amazon_link')|drop_duplicates, release.discs|map(attribute='amazon_large_image_link')|drop_duplicates) %}
    {% if amz_link and img_link %}
      <div class="col-md-6">
        <div class="card">
          <div class="card-image">
          <a href="{{ amz_link|safe }}"><img class="img-responsive" src="{{ img_link|safe }}" alt="{{ release.name }}"></a>
          </div>
        </div>
      </div>
    {% endif %}
    {% endfor %}
    </div>


    <div>Filter by {{ get_select_filter(songs, actors, characters) }}</div>


    <h2>歌手</h2>

    <div class="btns">
    {{ get_character_buttons(release.characters) }}
    </div>


    <h2>トラックリスト</h2>

    <div class="mf-table">
      <div class="row margin-0 list-header hidden-xs hidden-sm hidden-md hidden-lg">
        <div class="col-md-5"><div class="header">リスト</div></div>
        <div class="col-md-7"><div class="header">キャラクター</div></div>
      </div>

    {% for disc in release.discs %}
      {% if disc.disc_name %}
      <div class="row margin-0 list-sub-header">
        <div class="col-md-12"><div class="header">{{ disc.disc_name }}</div></div>
      </div>
      {% endif %}

      {% for tracklist in disc.tracklists %}
      <div class="row margin-0 mix s-{{- tracklist.song.index }} {{ get_index_classes(tracklist.characters.values()|flatten_list, prefix='c') }} {{ get_index_classes(tracklist.characters.values()|flatten_list|map(attribute='actors')|flatten_list, prefix='a') }}">
        <div class="col-md-5"><div class="cell header">
          {{ get_tracklist_order_column(tracklist) }}
        </div></div>

        <div class="col-md-7"><div class="cell btns">
        {% for group, characters in tracklist.characters.items() %}
          {% if group %}
          <strong>{{ group }}</strong>
          {% endif %}

          {{ get_character_buttons(characters) }}

        {% endfor %}
        </div></div>

      </div>
      {% else %}
      <div class="row margin-0 list-sub-header text-center">
        <div class="col-md-12"><div class="cell">見つかりませんでした</div></div>
      </div>
      {% endfor %}
    {% endfor %}

    </div>


    <h2>リンク</h2>

    <ul class="list-unstyled">
    {% for source in release.sources %}
      <li><a href="{{ source.url }}" title="{{ source.url_title }}">{{ source.url_title }}</a></li>
    {% else %}
      <li>見つかりませんでした</li>
    {% endfor %}
    </ul>


    <h2 class="sr-only">コメント</h2>
    <div id="disqus_thread"></div>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

  </div>
{% endblock %}
