{#
    templates/setori/results.html
#}
{% extends "setori/base.html" %}
{% from 'setori/snippet/forms.html' import search_form %}
{% set page_title = '検索結果' %}
{% set page_id = 'homepage' %}

{% if songs %}
  {% set active_page = 'songs' %}
  {% set results = songs %}
{% elif actors %}
  {% set active_page = 'actors' %}
  {% set results = actors %}
{% elif characters %}
  {% set active_page = 'characters' %}
  {% set results = characters %}
{% endif %}

{% block head %}
  {{ super() }}
  <meta name="description" content="{{- content_title_abbr|safe }} SETORIに登録されている曲、役者、キャラクターの検索結果です。">
  <meta property="og:description" content="{{- content_title_abbr|safe }} SETORIに登録されている曲、役者、キャラクターの検索結果です。">
{% endblock %}

{% block header %}
  <div class="container">
    <h1 class="sr-only">Result</h1>
    <p class="lead text-center lead-header tk-ff-market-web">
      Results
    </p>

    <p class="lead text-center">

    <strong>{{ results|length }} 件</strong> がヒット
    </p>

    <div class="row" id="bloodhound">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
        {% if o and q %}
          {{ search_form(o, q) }}
        {% else %}
          {{ search_form() }}
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="container">

    <div class="mf-table">
      <div class="row margin-0 list-header hidden-xs hidden-sm">
        <div class="col-md-4"><div class="header">名称</div></div>
        <div class="col-md-4"><div class="header">カナ</div></div>
        <div class="col-md-4"><div class="header">英字</div></div>
      </div>

      {% for result in results %}
      <div class="row margin-0">
        <a href="{{ url_for('setori.' + o, name=result.name) }}">
          <div class="col-md-4"><div class="cell">{{ result.name }}</div></div>
          <div class="col-md-4"><div class="cell">{{ result.name_kana }}</div></div>
          <div class="col-md-4"><div class="cell">{{ result.name_alphabet }}</div></div>
        </a>
      </div>

      {% else %}
      <div class="row margin-0 list-sub-header text-center">
        <div class="col-md-12"><div class="cell">見つかりませんでした</div></div>
      </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
