{#
    templates/setori/song.html
#}
{% extends "setori/base.html" %}
{% from 'setori/snippet/lists.html' import get_select_filter %}
{% from 'setori/snippet/lists.html' import get_index_classes %}
{% from 'setori/snippet/lists.html' import get_actor_buttons %}
{% from 'setori/snippet/lists.html' import get_character_buttons %}
{% from 'setori/snippet/lists.html' import get_setlist_date_column %}
{% from 'setori/snippet/lists.html' import get_tracklist_date_column %}
{% set active_page = 'songs' %}
{% set page_title = song.name %}

{% block head %}
  {{ super() }}
  <meta name="description" content="{{- content_title_abbr|safe }} SETORIに登録されている曲、{{ page_title }}から{{ setlists|length }}件のセットリストと{{ tracklists|length }}件のトラックリストが見つかりました。">
  <meta property="og:description" content="{{- content_title_abbr|safe }} SETORIに登録されている曲、{{ page_title }}から{{ setlists|length }}件のセットリストと{{ tracklists|length }}件のトラックリストが見つかりました。">
{% endblock %}

{% block header %}
  <div class="container hidden-sm hidden-md hidden-lg">
    <h1>曲</h1>
  </div>
{% endblock %}

{% block content %}
  <div class="container" id="selector">
    <p class="lead text-muted">{{ song.name_kana }}</p>
    <h1 class="{{ song.name_alphabet.replace(' ', '-') }}">{{ song.name }}</h1>

    <div class="row">
      {% if setlists %}
      <div class="col-md-6">
        <div class="card">

          {% for amz_link, img_link in zip(setlists[0].event.parts|map(attribute='amazon_link')|drop_duplicates, setlists[0].event.parts|map(attribute='amazon_large_image_link')|drop_duplicates) %}
          {% if amz_link and img_link %}
          <div class="card-image">
            <a href="{{ url_for('setori.event', name=setlists[0].event.name) }}"><img class="img-responsive" src="{{ img_link|safe }}" alt="{{ setlists[0].event.name|safe }}"></a>
          </div>
          {% endif %}
          {% endfor %}

          <a href="{{ url_for('setori.event', name=setlists[0].event.name) }}">
          <div class="card-content clearfix">
            <span class="card-title">{{ setlists[0].event.name|safe }}</span>
            <div class="card-label pull-right">
              最近の披露
            </div>
          </div>
          </a>

        </div>
      </div>
      {% endif %}

      {% if tracklists %}
      <div class="col-md-6">
        <div class="card">

          {% for amz_link, img_link in zip(tracklists[0].release.discs|map(attribute='amazon_link')|drop_duplicates, tracklists[0].release.discs|map(attribute='amazon_large_image_link')|drop_duplicates) %}
          {% if amz_link and img_link %}
          <div class="card-image">
            <a href="{{ url_for('setori.release', name=tracklists[0].release.name) }}"><img class="img-responsive" src="{{ img_link|safe }}" alt="{{ tracklists[0].release.name|safe }}"></a>
          </div>
          {% endif %}
          {% endfor %}

          <a href="{{ url_for('setori.release', name=tracklists[0].release.name) }}">
          <div class="card-content clearfix">
            <span class="card-title">{{ tracklists[0].release.name|safe }}</span>
            <div class="card-label pull-right">
              最近のリリース
            </div>
          </div>
          </a>

        </div>
      </div>
      {% endif %}
    </div>

    <div>Filter by {{ get_select_filter(None, actors, characters) }}</div>


    <h2>セットリスト</h2>

    <div class="mf-table">
      <div class="row margin-0 list-header hidden-xs hidden-sm">
        <div class="col-md-5"><div class="header">イベント</div></div>
        <div class="col-md-7"><div class="header">役者</div></div>
      </div>

      {% for setlist in setlists %}
      <div class="row margin-0 mix {{ get_index_classes(setlist.actors.values()|flatten_list, prefix='a') }} {{ get_index_classes(setlist.actors.values()|flatten_list|map(attribute='characters')|flatten_list, prefix='c') }}">
        <div class="col-md-5"><div class="cell header">
            {{ get_setlist_date_column(setlist, song=None) }}
        </div></div>

        <div class="col-md-7"><div class="cell btns">
        {% for group, actors in setlist.actors.items() %}
          {% if group %}
          <strong>{{ group }}</strong>
          {% endif %}

          {{ get_actor_buttons(actors) }}

        {% endfor %}
        </div></div>

      </div>
      {% else %}
      <div class="row margin-0 list-sub-header text-center">
        <div class="col-md-12"><div class="cell">見つかりませんでした</div></div>
      </div>
      {% endfor %}
    </div>


    <h2>トラックリスト</h2>

    <div class="mf-table">
      <div class="row margin-0 list-header hidden-xs hidden-sm">
        <div class="col-md-5"><div class="header">リリース</div></div>
        <div class="col-md-7"><div class="header">キャラクター</div></div>
      </div>

      {% for tracklist in tracklists %}
      <div class="row margin-0 mix {{ get_index_classes(tracklist.characters.values()|flatten_list, prefix='c') }} {{ get_index_classes(tracklist.characters.values()|flatten_list|map(attribute='actors')|flatten_list, prefix='a') }}">
        <div class="col-md-5"><div class="cell header">
            {{ get_tracklist_date_column(tracklist, song=None) }}
        </div></div>

        <div class="col-md-7"><div class="cell btns">
        {% for group, characters in tracklist.characters.items() %}
          {% if group %}
          <strong>{{ group }}</strong>
          {% endif %}

          {{ get_character_buttons(characters) }}

        {% endfor %}
        </div></div>

      </div>
      {% else %}
      <div class="row margin-0 list-sub-header text-center">
        <div class="col-md-12"><div class="cell">見つかりませんでした</div></div>
      </div>
      {% endfor %}
    </div>


    <h2 class="sr-only">コメント</h2>
    <div id="disqus_thread"></div>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

  </div>
{% endblock %}
