{#
    templates/setori/songs.html
#}
{% extends "setori/base.html" %}
{% from 'setori/snippet/forms.html' import search_form %}
{% set active_page = 'songs' %}
{% set page_id = 'list' %}
{% set page_title = '曲' %}

{% block head %}
  {{ super() }}
  <meta name="description" content="{{- content_title_abbr|safe }} SETORIに登録されている{{- content_title|safe -}}の{{ page_title }}{{ songs|length }}件の一覧です。">
  <meta property="og:description" content="{{- content_title_abbr|safe }} SETORIに登録されている{{- content_title|safe -}}の{{ page_title }}{{ songs|length }}件の一覧です。">
{% endblock %}

{% block header %}
  <div class="container hidden-sm hidden-md hidden-lg">
    <h1>{{- page_title|safe -}}</h1>
  </div>
{% endblock %}

{% block content %}
  <div class="container" id="stringinlineblock">

    <div class="row">

      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
        <div class="card">

          <div class="card-content" id="bloodhound">
            {{- search_form('song') -}}
          </div>

        </div>
      </div>

    </div>


    <div class="input-group search-form">
      <span class="input-group-addon">Filter by</span>
      <input type="text" id="search-filter" class="form-control" placeholder="名称を入力">
    </div>

    <h1 class="counter"></h1>

    <div class="btns">

      {% for song in songs %}
      <a href="{{ url_for('setori.song', name=song.name) }}" role="button" class="btn btn-sm mix{% if song.type %} btn-labeled{% endif %} btn-default filtered">{% if song.type %}<span class="btn-label-left">{{ song.type }}</span>{% endif %}{{ song.name }}<p class="sr-only">{{ song.name_kana }}{{ song.name_alphabet }}</p></a>
      {% endfor %}

    </div>

  </div>
{% endblock %}
