{#-
  templates/shared/master.html
-#}
{% set header_class = header_class|default('') %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- block head -%}{%- endblock -%}

  <title>{%- block title -%}{%- endblock -%}</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- Custom CSS -->
  {%- block css -%}{%- endblock css -%}

  {%- block headtail -%}{%- endblock -%}
</head>
<body{% if page_id %} id="{{ page_id|safe }}"{% endif %}>
  <div class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        {%- block brand -%}{%- endblock -%}
      </div><!-- /.navbar-toggle -->
      <div id="navbar" class="navbar-collapse collapse">
      {%- block nav -%}{%- endblock -%}
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
  </div><!-- /.navbar -->

  <div class="header{% if header_class %} {{ header_class }}{% endif %}">
  {%- block header -%}{%- endblock -%}
  </div>

  <!-- Page Content -->
  <div id="main">
  {%- block content -%}{%- endblock -%}
  </div>

  <div class="banner">
  {%- block banner -%}{%- endblock -%}
  </div>

  <div class="footer">
  {%- block footer -%}{%- endblock -%}
  </div>

  {% include "shared/snippet/script.html" %}
  {%- block script -%}{%- endblock script -%}
</body>
</html>
