{#
  templates/setori/snippet/forms.html
#}
{% set objs = {'song': '曲', 'actor': '役者', 'character': 'キャラクター'} %}

{% macro search_form(obj='song', q='', size='md') %}
  <form class="search-form" action="{{ url_for('setori.search') }}" method="get">
    {% if size == 'lg' %}
    <div class="input-group input-group-lg">
    {% else %}
    <div class="input-group">
    {% endif %}
      <div class="input-group-btn input-group-select">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          <span class="concept">{{ objs[obj] }}</span> <i class="fa fa-caret-down"></i></button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#song">曲</a></li>
          <li><a href="#actor">役者</a></li>
          <li><a href="#character">キャラクター</a></li>
          <!-- <li><a href="#creator">クリエイター</a></li> -->
        </ul>
        <input type="hidden" name="o" value="{{ obj }}" class="input-group-select-val">
      </div><!-- /btn-group -->
      <input type="text" name="q" class="form-control typeahead song" value="{{ q|e }}">
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
      </span>
    </div><!-- /input-group -->
  </form>
{% endmacro %}
