{#
  templates/setori/snippet/lists.html
#}

{% macro get_classes(lists, attribute) %}
  {{- lists|map(attribute=attribute)|map('replace', ' ', '-')|join(' ') -}}
{% endmacro %}

{% macro get_index_classes(lists, prefix) %}
  {%- for list in lists -%}
    {% if not loop.first %} {% endif %}
    {{- prefix -}}-{{- list.index -}}
  {%- endfor -%}
{% endmacro %}

{% macro get_select_filter(songs, actors, characters) %}
  <select class="selectpicker show-tick" id="filter-select" data-live-search="true">
    <option value="all" selected>すべて</option>

    {% if songs %}
    {% for song in songs %}
    {% if loop.first %}
    <optgroup label="曲">
    {% endif %}
      <option value=".s-{{- song.index -}}">{{ song.name }}</option>
    {% if loop.last %}
    </optgroup>
    {% endif %}
    {% endfor %}
    {% endif %}

    {% for actor in actors %}
    {% if loop.first %}
    <optgroup label="役者">
    {% endif %}
      <option value=".a-{{- actor.index -}}">{{ actor.name }}</option>
    {% if loop.last %}
    </optgroup>
    {% endif %}
    {% endfor %}

    {% for character in characters %}
    {% if loop.first %}
    <optgroup label="キャラクター">
    {% endif %}
      <option value=".c-{{- character.index -}}">{% if character.alias %}{{ character.alias }}{% else %}{{ character.name }}{% endif %}</option>
    {% if loop.last %}
    </optgroup>
    {% endif %}
    {% endfor %}
  </select>
{% endmacro %}

{% macro get_actor_buttons(actors) %}
  {% for actor in actors %}
  <a href="{{ url_for('setori.actor', name=actor.name) }}" role="button" class="btn btn-xs btn-labeled filtered {{ get_index_classes([actor], prefix='a') }} {{ get_index_classes(actor.characters, prefix='c') }} {{ actor.characters|map(attribute='name_alphabet')|map('replace', ' ', '-')|join(' ')}}"><span class="btn-label-left">{{ actor.name.replace(' ', '') }}</span>{% for character in actor.characters %}{% if not loop.first %} · {% endif %}{% if character.alias %}{{ character.alias.replace(' ', '') }}{% else %}{{ character.name.replace(' ', '') }}{% endif %}{% endfor %}役</a>
  {% endfor %}
{% endmacro %}

{% macro get_actor_filtered_buttons(actors) %}
  {% for actor in actors %}
  <a href="{{ url_for('setori.actor', name=actor.name) }}" role="button" class="btn btn-sm mix btn-labeled filtered {{ get_index_classes([actor], prefix='a') }} {{ get_index_classes(actor.characters, prefix='c') }} {{ actor.characters|map(attribute='name_alphabet')|map('replace', ' ', '-')|join(' ')}}"><span class="btn-label-left">{{ actor.name.replace(' ', '') }}</span>{% for character in actor.characters %}{% if not loop.first %} · {% endif %}{% if character.alias %}{{ character.alias.replace(' ', '') }}{% else %}{{ character.name.replace(' ', '') }}{% endif %}{% endfor %}役<p class="sr-only">{{ actor.name_kana }}{{ actor.name_alphabet }}</p></a>
  {% endfor %}
{% endmacro %}

{% macro get_character_buttons(characters) %}
  {% for character in characters %}
  <a href="{{ url_for('setori.character', name=character.name) }}" role="button" class="btn btn-xs btn-labeled filtered {{ get_index_classes([character], prefix='c') }} {{ get_index_classes(character.actors, prefix='a') }} {{ character.name_alphabet.replace(' ', '-') }}">{% if character.alias %}{{ character.alias.replace(' ', '') }}{% else %}{{ character.name.replace(' ', '') }}{% endif %}<span class="btn-label-right">CV.{{ character.actors|map(attribute='name')|map('replace', ' ', '')|join(' · ')}}</span></a>
  {% endfor %}
{% endmacro %}

{% macro get_character_filtered_buttons(characters) %}
  {% for character in characters %}
  <a href="{{ url_for('setori.character', name=character.name) }}" role="button" class="btn btn-sm mix{% if character.actors %} btn-labeled{% endif %} filtered {{ get_index_classes([character], prefix='c') }} {{ get_index_classes(character.actors, prefix='a') }} {{ character.name_alphabet.replace(' ', '-') }}">{% if character.alias %}{{ character.alias.replace(' ', '') }}{% else %}{{ character.name.replace(' ', '') }}{% endif %}{% if character.actors %}<span class="btn-label-right">CV.{{ character.actors|map(attribute='name')|map('replace', ' ', '')|join(' · ')}}</span>{% endif %}<p class="sr-only">{{ character.name_kana }}{{ character.name_alphabet }}</p></a>
  {% endfor %}
{% endmacro %}

{% macro get_setlist_date_column(setlist, song=True) %}
  <strong>{{ setlist.event.date|datetime }}</strong>

  {% if setlist.song.song_version %}
  <span class="label label-primary">{{ setlist.song.song_version }}</span>
  {% endif %}
  {% if setlist.song.type %}
  <span class="label label-success">{{ setlist.song.type }}</span>
  {% endif %}

  <div class="media">
  {% if setlist.event.parts[setlist.part_number - 1].amazon_medium_image_link %}
    <div class="media-left">
      <a href="{{ url_for('setori.event', name=setlist.event.name) }}"><img class="media-object" src="{{ setlist.event.parts[setlist.part_number - 1].amazon_medium_image_link }}" alt="{{ setlist.event.name }}"></a>
    </div>
  {% endif %}
    <div class="media-body">
    <h3 class="media-heading">
      <a href="{{ url_for('setori.event', name=setlist.event.name) }}"><strong>{{ setlist.event.name }}</strong></a> @{{ setlist.event.venue }}

      {% if setlist.part_name %}
      <span class="label label-default">{{ setlist.part_name }}</span>
      {% endif %}
    </h3>

    <a href="{{ url_for('setori.event', name=setlist.event.name) }}" role="button" class="btn btn-xs order{% if setlist.type %} btn-labeled{% endif %}">{{ setlist.order }}{% if setlist.type %}<span class="btn-label-right">{{ setlist.type }}</span>{% endif %}</a>
    {% if song %}
    <a href="{{ url_for('setori.song', name=setlist.song.name) }}" role="button" class="btn btn-link"><strong>{{ setlist.song.name }}</strong></a>
    {% endif %}

    </div>
  </div>
{% endmacro %}

{% macro get_setlist_order_column(setlist) %}
  <a href="{{ url_for('setori.event', name=setlist.event.name) }}" role="button" class="btn btn-sm order{% if setlist.type %} btn-labeled{% endif %}">{{ setlist.order }}{% if setlist.type %}<span class="btn-label-right">{{ setlist.type }}</span>{% endif %}</a>
  <a href="{{ url_for('setori.song', name=setlist.song.name) }}" role="button" class="btn btn-link"><strong>{{ setlist.song.name }}</strong></a>

  {% if setlist.song.song_version %}
  <span class="label label-primary">{{ setlist.song.song_version }}</span>
  {% endif %}

  {% if setlist.song.type %}
  <span class="label label-success">{{ setlist.song.type }}</span>
  {% endif %}
{% endmacro %}

{% macro get_tracklist_date_column(tracklist, song=True) %}
  <strong>{{ tracklist.release.date|datetime }}</strong>

  {% if tracklist.song.song_version %}
  <span class="label label-primary">{{ tracklist.song.song_version }}</span>
  {% endif %}

  {% if tracklist.song.type %}
  <span class="label label-success">{{ tracklist.song.type }}</span>
  {% endif %}

  <div class="media">
  {% if tracklist.release.discs[tracklist.disc_number - 1].amazon_medium_image_link %}
    <div class="media-left">
      <a href="{{ url_for('setori.release', name=tracklist.release.name) }}"><img class="media-object" src="{{ tracklist.release.discs[tracklist.disc_number - 1].amazon_medium_image_link }}" alt="{{ tracklist.release.name }}"></a>
    </div>
  {% endif %}
    <div class="media-body">
      <h3 class="media-heading">
        <a href="{{ url_for('setori.release', name=tracklist.release.name) }}"><strong>{{ tracklist.release.name }}</strong></a>

      {% if tracklist.disc_name %}
      <span class="label label-default">{{ tracklist.disc_name }}</span>
      {% endif %}
      </h3>

      <a href="{{ url_for('setori.release', name=tracklist.release.name) }}" role="button" class="btn btn-xs order{% if tracklist.type %} btn-labeled{% endif %}">{{ tracklist.order }}{% if tracklist.type %}<span class="btn-label-right">{{ tracklist.type }}</span>{% endif %}</a>
      {% if song %}
      <a href="{{ url_for('setori.song', name=tracklist.song.name) }}" role="button" class="btn btn-link"><strong>{{ tracklist.song.name }}</strong></a>
      {% endif %}

    </div>
  </div>
{% endmacro %}

{% macro get_tracklist_order_column(tracklist) %}
  <a href="{{ url_for('setori.release', name=tracklist.release.name) }}" role="button" class="btn btn-sm order{% if tracklist.type %} btn-labeled{% endif %}">{{ tracklist.order }}{% if tracklist.type %}<span class="btn-label-right">{{ tracklist.type }}</span>{% endif %}</a>

  <a href="{{ url_for('setori.song', name=tracklist.song.name) }}" role="button" class="btn btn-link"><strong>{{ tracklist.song.name }}</strong></a>

  {% if tracklist.song.song_version %}
  <span class="label label-primary">{{ tracklist.song.song_version }}</span>
  {% endif %}

  {% if tracklist.song.type %}
  <span class="label label-success">{{ tracklist.song.type }}</span>
  {% endif %}
{% endmacro %}
