.navbar-brand {
  font-size: 36px;
}

.navbar-static-top {
  margin-bottom: 0;
  background-color: #FFFFFF;
}

#homepage > .header,
#errorpage > .header {
  padding-top: 50px;
  padding-bottom: 30px;
  border-bottom: 1px solid #EEEEEE;
}

#generic > .header,
#list > .header,
#colorful > .header {
  min-height: 5px;
}

#generic > .header,
#list > .header {
  color: #FFFFFF;
  background-color: rgba(197, 46, 92, 1.0);
}

#generic > .header h1,
#list > .header h1,
#colorful > .header h1 {
  margin-top: 10px;
}

.header .lead.lead-header {
  font-size: 72px;
}

.header .lead {
  font-size: 30px;
  margin-bottom: 0;
}

.search-form {
  margin-top: 35px;
  margin-bottom: 20px;
}

.pills-center {
  display: inline-block;
  margin-bottom: 20px;
}

#main {
  padding: 10px 0 20px;
}

#main .mix {
  display: none;
}

.btn-tile {
  display: block;
  min-height: 150px;
  font-size: 40px;
  margin-bottom: 20px;
  border-radius: 3px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .3);
  text-align: left;
}

.tile {
  padding: 15px;
  font-size: 30px;
  margin-bottom: 20px;
}

.range-slider {
  margin-top: 5px;
  margin-bottom: 10px;
}

.photo-banner {
  margin-bottom: 10px;
}

.card .card-image{
  background-color: #333333;
  overflow: hidden;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.card .card-image img{
  margin: 0 auto;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.card .card-image:hover img{
  -webkit-transform: scale(1.2) rotate(-7deg);
  -moz-transform: scale(1.2) rotate(-7deg);
  -ms-transform: scale(1.2) rotate(-7deg);
  -o-transform: scale(1.2) rotate(-7deg);
  transform: scale(1.2) rotate(-7deg);
}

.card .card-image.card-white {
  background-color: #FFFFFF;
  overflow: hidden;
  -webkit-transform-style: none;
  -moz-transform-style: none;
  -ms-transform-style: none;
  -o-transform-style: none;
  transform-style: none;
}

.card .card-image.card-white:hover img{
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}

.card{
  margin-top: 10px;
  margin-bottom: 20px;
  position: relative;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 4 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.card-caution {
  color: #FFFFFF;
  background-color: rgba(197, 46, 92, 1.0);
}

.card .search-form {
  margin: 0;
}

.card .card-content {
  padding: 10px;
}

.card .card-content .card-title, .card-reveal .card-title{
  font-size: 22px;
  font-weight: 200;
}

.card .card-label {
  color: #333333;
  display: inline-block;
  padding: 6px 12px;
  font-size: 16px;
  font-weight: bold;
}

.card .card-label.focus,
.card .card-label:focus,
.card .card-label:hover {
  color: #333333;
  text-decoration: none;
}

.card .card-action{
  padding: 20px;
  border-top: 1px solid rgba(160, 160, 160, 0.2);
}
.card .card-action a{
  font-size: 15px;
  color: #ffab40;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.card .card-action a:hover{
  color:#ffd8a6;
  text-decoration:none;
}

.card .card-reveal{
  padding: 20px;
  position: absolute;
  background-color: #FFF;
  width: 100%;
  overflow-y: auto;
  /*top: 0;*/
  left:0;
  bottom:0;
  height: 100%;
  z-index: 1;
  display: none;
}

.card .card-reveal p{
  color: rgba(0, 0, 0, 0.71);
  margin:20px ;
}

.btn-custom{
  background-color: transparent;
  font-size:18px;
}

.mf-table .header, .mf-table .cell {
  padding: 6px 6px 6px 10px;
}

.mf-table .list-header .header {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 0.8em;
  color: #999999;
  background-color: #EEEEEE;
}

.mf-table .list-header-button {
  border-top: 1px solid #DDDDDD;
  border-left: 1px solid #DDDDDD;
  border-right: 1px solid #DDDDDD;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.mf-table .list-sub-header .header {
  font-weight: normal;
  font-size: 0.8em;
  color: #999999;
  background-color: #EEEEEE;
}

.mf-table [class^="row"], .mf-table [class*=" row"] {
  border-bottom: 1px solid #DDDDDD;
}

.mf-table [class^="row"]:hover, .mf-table [class*=" row"]:hover {
  background-color: #F7F7F7;
}

.btns > a[role="button"] {
  margin-top: 2px;
  margin-bottom: 2px;
  /*text-shadow: black 1px 1px 0px, black -1px 1px 0px,
               black 1px -1px 0px, black -1px -1px 0px;*/
}

.mf-table .cell .media {
  margin-top: 5px;
}

.mf-table .media-object {
  width: 100px;
  height: auto;
  margin-bottom: 3px;
  border: 1px solid #666666;
}

.photo-banner img {
  border: 1px solid #333333;
}

.mf-table h3.media-heading {
  font-size: 14px;
  font-weight: bold;
}

.mf-table .box {
  display: inline-block;
  background-color: #CCCCCC;
  margin: 3px;
}

.btn.order {
    color: #FFFFFF;
    background-color: rgba(197, 46, 92, 0.7);
    border-color: rgba(197, 46, 92, 0.7);
    border-radius: 50px;
}

.btn.order.focus,
.btn.order:focus,
.btn.order:hover {
    background-color: rgba(197, 46, 92, 1.0);
    border-color: rgba(197, 46, 92, 1.0);
}

.btn.order.active {
    color: #FFFFFF;
    background-color: rgba(197, 46, 92, 1.0);
    border-color: rgba(197, 46, 92, 1.0);
}

.btn.order.active.focus,
.btn.order.active:focus,
.btn.order.active:hover {
    background-color: rgba(197, 46, 92, 1.0);
    border-color: rgba(197, 46, 92, 1.0);
}

.btn-labeled {
  padding-top: 0;
  padding-bottom: 0;
}

.btn-label-left {
  position: relative;
  left: -12px;
  display: inline-block;
  padding: 6px 12px;
  background: rgba(0,0,0,0.15);
  border-radius: 3px 0 0 3px;
}

.btn-lg .btn-label-left {
  left: -16px;
  padding: 10px 16px;
  border-radius: 5px 0 0 5px;
}

.btn-sm .btn-label-left {
  left: -10px;
  padding: 5px 10px;
  border-radius: 2px 0 0 2px;
}

.btn-xs .btn-label-left {
  left: -5px;
  padding: 1px 5px;
  border-radius: 2px 0 0 2px;
}

.btn-label-right {
  position: relative;
  right: -12px;
  display: inline-block;
  padding: 6px 12px;
  background: rgba(0,0,0,0.15);
  border-radius: 0 3px 3px 0;
}

.btn-lg .btn-label-right {
  right: -16px;
  padding: 10px 16px;
  border-radius: 0 5px 5px 0;
}

.btn-sm .btn-label-right {
  right: -10px;
  padding: 5px 10px;
  border-radius: 0 2px 2px 0;
}

.btn-sm.order .btn-label-right {
  border-radius: 0 50px 50px 0;
}

.btn-xs .btn-label-right {
  right: -5px;
  padding: 1px 5px;
  border-radius: 0 2px 2px 0;
}

.btn-xs.order .btn-label-right {
  border-radius: 0 50px 50px 0;
}

.banner {
  color: #FFFFFF;
  background-color: rgba(197, 46, 92, 1.0);
  min-height: 20px;
  padding: 20px 0 20px;
}

.banner .lead {
  margin: 0;
}

.footer {
  padding: 10px 0 20px;
  text-align: center;
}

.footer-links {
  padding-left: 0;
  margin-top: 20px;
}

.footer-links li:first-child {
  padding-left: 0;
}

.footer-links li {
  display: inline;
  padding: 0 2px;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (max-width: 767px) {
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 18px;
  }
  .header .lead.lead-header {
    font-size: 50px;
  }
  .header .lead {
    font-size: 24px;
  }
  .banner {
    padding: 10px 0 10px;
  }
}

@media (max-width: 991px) {
  .mf-table [class^="row"], .mf-table [class*=" row"] {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .mf-table .cell {
    padding: 0 10px;
  }
  .mf-table .cell.header {
    padding: 0 10px 0 5px;
  }
  .mf-table .list-sub-header {
    padding: 0;
  }
}

/* Row Utilities */
.padding-0 {
    padding: 0;
}

[class^='row'].margin-0,
[class*=' row'].margin-0,
[class^='form-group'].margin-0,
[class*=' form-group'].margin-0 {
  margin-left: -0px;
  margin-right: -0px;
}
[class^='row'].margin-0 > [class^='col-'],
[class^='row'].margin-0 > [class*=' col-'],
[class*=' row'].margin-0 > [class^='col-'],
[class*=' row'].margin-0 > [class*=' col-'],
[class^='form-group'].margin-0 > [class^='col-'],
[class^='form-group'].margin-0 > [class*=' col-'],
[class*=' form-group'].margin-0 > [class^='col-'],
[class*=' form-group'].margin-0 > [class*=' col-'] {
  padding-right: 0px;
  padding-left: 0px;
}
[class^='row'].margin-0 > a > [class^='col-'],
[class^='row'].margin-0 > a > [class*=' col-'],
[class*=' row'].margin-0 > a > [class^='col-'],
[class*=' row'].margin-0 > a > [class*=' col-'],
[class^='form-group'].margin-0 > a > [class^='col-'],
[class^='form-group'].margin-0 > a > [class*=' col-'],
[class*=' form-group'].margin-0 > a > [class^='col-'],
[class*=' form-group'].margin-0 > a > [class*=' col-'] {
  padding-right: 0px;
  padding-left: 0px;
}
[class^='row'].margin-0 [class^='row'],
[class^='row'].margin-0 [class*=' row'],
[class^='row'].margin-0 [class^='form-group'],
[class^='row'].margin-0 [class*=' form-group'],
[class*=' row'].margin-0 [class^='row'],
[class*=' row'].margin-0 [class*=' row'],
[class*=' row'].margin-0 [class^='form-group'],
[class*=' row'].margin-0 [class*=' form-group'],
[class^='form-group'].margin-0 [class^='row'],
[class^='form-group'].margin-0 [class*=' row'],
[class^='form-group'].margin-0 [class^='form-group'],
[class^='form-group'].margin-0 [class*=' form-group'],
[class*=' form-group'].margin-0 [class^='row'],
[class*=' form-group'].margin-0 [class*=' row'],
[class*=' form-group'].margin-0 [class^='form-group'],
[class*=' form-group'].margin-0 [class*=' form-group'] {
  margin-left: 0;
  margin-right: 0;
}
